.box1{
    display: flex; 
    left: 0; /* Align to left edge */
    top: 100%;
    width: 100px;
    height: 500px;
   /* background-color: red;*/
    background: white;
    
 
}
body {
  margin: 0;
  height: 100vh;
  background:white;
  position: relative;
}

.bar {
    width: 100px;
    height: 500px;
    background: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
